body{
    background-color: rgb(10, 8, 32);
    color: rgb(255, 234, 218);
}
img{
    width:100%;
    border-radius: 50%;
}
.profile-img{
    width:100%;
    max-width: 275px !important;
    border-radius: 50%;
}
.text-col{
    width: 275px ;
}